* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #21325e;
}

html,
body {
  width: 100%;
  height: 100%;
  text-align: center;
}
#kaps {
  width: 100%;
  height: 90%;
  background-color: #f0f0f0;
}

#header {
  width: 80%;
  height: 20%;
  margin-left: 10%;
  margin-right: 10%;
  background-color: #f0f0f0;
}
#logo {
  width: 40%;
  height: 100%;
  display: inline-block;
}
#logo h1 {
  margin-top: 10px;
  font-size: 36px;
}

#logo p {
  margin-top: 5px;
  font-size: 18px;
  color: #3e497a;
}

#head_nav {
  width: 60%;
  height: 100%;
  display: inline-block;
  float: right;
}

#head_nav ul {
  list-style-type: none;
  margin-top: 25px;
}

#head_nav ul li {
  display: inline-block;
  margin: 10px;
}

#head_nav ul li a {
  text-decoration: none;
  color: #3e497a;
}
#head_nav ul li a:hover {
  font-weight: bold;
  text-decoration: underline;
}

#contents {
  width: 80%;
  height: 70%;
  margin-left: 10%;
  margin-right: 10%;
  background-color: #f0f0f0;
}

#content {
  width: 50%;
  height: 100%;
  display: inline-block;
}

#hello {
  font-size: 100px;
  font-weight: bold;
  margin-bottom: 10px;
}

#contents button {
  width: 150px;
  height: 150px;
  border: 2px solid #f1d00a;
  border-radius: 50%;
  margin: 20px 10px;
}
#contents button:hover {
  background-color: #f1d00a;
  color: #f0f0f0;
  font-size: 16px;
}

#about p {
  font-size: 18px;
  text-align: justify;
  margin: 10px;
}

#images {
  width: 50%;
  height: 100%;
  display: inline-block;
  float: right;
}

#images img {
  width: 60%;
  border: 5px solid #21325e;
  border-radius: 50%;
}

#footer {
  width: 100%;
  height: 10%;
  background-color: #f1d00a;
  color: #f0f0f0;
}

#foot {
  background-color: #f1d00a;
  width: 80%;
  height: 100%;
  margin-left: 10%;
}

#foot ul {
  list-style-type: none;
}

#foot ul li {
  display: inline-block;
  margin-left: 70px;
}

#foot ul li a {
  text-decoration: none;
  color: #f0f0f0;
  font-weight: bold;
  font-size: 28px;
  margin-top: 15px;
}

#foot ul li a:hover {
  color: #21325e;
  font-size: 30px;
}
